<% provide :title, t(".title") %>
<h1><%= t ".page_name"%></h1>
<div class="row">
  <div class="col-md-6 col-sm-12 offset-md-3">
    <%= form_for :session, url: login_path do |f| %>

      <%= f.label :email, t(".email") %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, t(".password") %>
      <%= f.password_field :password,  class: "form-control" %>

      <div class="form-check">
        <%= f.label :remember_me, class: "form-check-label" do %>
          <%= f.check_box :remember_me, class: "form-check-input"%>
          <%= t ".remember_me" %>
        <% end %>
      </div>

      <%= f.submit t(".submit"), class: "btn btn-primary" %>
    <% end %>

    <p><%= t ".newuser" %><%= link_to t(".signup_now"), signup_path %></p>
  </div>
</div>
